body {
  background-color: #ffffff;
}

.node text {
  font: 10px sans-serif;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

path.link {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5px;
}
    
.node.selected circle {
  fill: green;
}
