html{
	font-size: 16px;
	line-height: 1.5rem;
}

body{
<<<<<<< HEAD
	background-color: #ffffff;
=======
	background-color: rgb(236,235,255);
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}

.heading{
	padding: 1rem;
}

.container{
	margin: auto;
	max-width: 900px;
	text-align: center;
>>>>>>> 0768246d586c7b2dfcf6dedeeeab460396a75ce9
}

.navbar-list{
	list-style-type: none;
}

.navbar-list li{
	display: inline-block;
	padding: 5px;
}

.navbar-list a{
	text-decoration: none;
}


/*=========Joanie Styly===========*/

/*.node {
  cursor: pointer;
}

.node circle {
  fill: pink;
  stroke: #783718;
  stroke-width: 1.5px;
}*/

.node text {
  font: 10px sans-serif;
}

/*.link {
  fill: none;
  stroke: #EB5821;
  stroke-width: 1.5px;
}*/

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

path.link {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5px;
}
    
      
.node.selected circle {
  fill: green;
}
